html, body {
  background-color: bisque;
}

div {
  text-align: center;
  background-color: bisque;
  padding: 5px;
  margin: 5px;
}

h1, h3 {
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;;
}

.button {
  text-align: center;
  padding: 5px;
  margin: 5px;
}